<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Recuperar Contraseña</title>
</head>

<body>
    <table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#F0F0F0">
        <tbody>
            <tr>
                <td style="background-color: #ffffff;" align="center" valign="top" bgcolor="#ffffff"><br>
                    <table style="width: 100%px; max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="height: 11px; background-color: rgb(51,102,204); background: -moz-linear-gradient(81deg, rgba(51,102,204,1) 0%, rgba(28,190,190,1) 100%);
                                        background: -webkit-linear-gradient(81deg, rgba(51,102,204,1) 0%, rgba(28,190,190,1) 100%);
                                        background: linear-gradient(81deg, rgba(51,102,204,1) 0%, rgba(28,190,190,1) 100%);">
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img style="width: 95px; margin-bottom: 20px; margin-top: 20px;" src="../assets/images/logos/logo_pais_vertical.svg" alt="Medichile">
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: #f2f2f2; padding-top: 15px;" align="center">
                                    <p style="font-family: Helvetica, Arial, sans-serif; font-size: 17px; line-height: 20px; color: #424242; text-align: center;">Usted ha solicitado restablecer su contraseña. <br>Para restablecer su contraseña haga click en el siguiente enlace</p><br>
                                </td>
                            </tr>
                <td align="center" style="background-color: #f2f2f2; padding-bottom: 30px;">
                    <table>
                        <tbody>
                            <tr>
                                <td style="background-color: rgb(51,102,204); background: -moz-linear-gradient(81deg, rgba(51,102,204,1) 0%, rgba(28,190,190,1) 100%);
                                                background: -webkit-linear-gradient(81deg, rgba(51,102,204,1) 0%, rgba(28,190,190,1) 100%);
                                                background: linear-gradient(81deg, rgba(51,102,204,1) 0%, rgba(28,190,190,1) 100%); padding: 15px 18px; -webkit-border-radius: 30px;font-family: Helvetica, Arial, sans-serif;" align="center" bgcolor="#289CDC"><a target="_blank" href="[LINK]" style="color: #ffffff; text-decoration: none; font-size: 18px; ">RESTABLECER CONTRASEÑA</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            <tr>
                <td height="30"> </td>
            </tr>
            <tr>
            <tr>
                <td inline-block style="text-align: center;">
                    <img style="width: 50px; margin-bottom: 5px; margin-top: 50px; margin-right: 10px;" src="../assets/images/logos/logo_pais_vertical.svg" alt="Medichile">
                    <img style="width: 90px; margin-bottom: 5px; margin-top: 50px;" src="../assets/images/logos/logo.svg" alt="Medichile">
                </td>
            </tr>
            <tr>
                <td style="height: 11px; background-color: rgb(51,102,204); background: -moz-linear-gradient(81deg, rgba(51,102,204,1) 0%, rgba(28,190,190,1) 100%);
                                        background: -webkit-linear-gradient(81deg, rgba(51,102,204,1) 0%, rgba(28,190,190,1) 100%);
                                        background: linear-gradient(81deg, rgba(51,102,204,1) 0%, rgba(28,190,190,1) 100%);">
                </td>
            </tr>
            <td style="text-align: center;" align="center">
                <table border="0" width="95%" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td style="font-family: Helvetica, Arial, sans-serif;" align="center" valign="top">
                                <p style="text-align: center; color: #999999; font-size: 12px; font-weight: normal; line-height: 20px;">Este correo electrónico fue enviado por <a style="color: #000;" href="https://www.medichile.cl">Salud Digital Integrada</a> <br> Salud Digital Integrada <b>Todos los Derechos Reservados. ©2021</b></p>
                            </td>
                            <td width="30"> </td>
                            <td width="16"> </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            </tr>
        </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
</body>

</html>